body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

    
}

.breadcrumb {
    padding: 10px 20px;
    font-size: 20px;
    background: #03b8d8;    
}

.breadcrumb a {
    text-decoration: none;
    color: #d9534f;
}

.breadcrumb .active {
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
    }

.content {
    width: 60%;
    
}

.content h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    
}
.image {
    width: 35%;
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.topics-heading {
    font-size: 24px;
    padding: 20px;
    background: white;
    margin-left: 9px;
}

.topics-heading span {
    color: #ffcc00;
    text-decoration: underline;
}
h1 {
    font-size: 24px;
}

.highlight {
    background-color: yellow;
}

.sort-section {
    margin: 20px 0;
}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.topic {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.topic:hover {
    background-color: lightgray;
}

.java-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

