*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
#header{
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8   0px;
    width: 100%;
    box-shadow: inset 2px 2px 3px 5px rgb(220, 123, 123);
    top: 1px;
    
}
#header img{
    display: flex;
    align-items: center;
    height: 66px;
    width: 80px;
    border-radius: 50px;
}

#header ul{
    display: flex;
    justify-content:space-around;
    justify-items: center;
 

}

#header ul li{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    display: flex;
}
#header ul li a{
    justify-content: space-between;
    text-decoration: none;
    color: rgb(5, 4, 4);
    display: flex;
    align-items: center;
    font-size: 22px;
    
}

#header ul li a:hover{
    color: rgb(230, 18, 18);
}

#header nav{
    color: rgb(248, 246, 246);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

div{
    display: flex;
    gap: 7px;
    padding-top: 7px;
 
}
/* Home sectin css */
#home{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./images/background.jpg);
}


#home img{

    display: flex;
    height: 800px;
    width: 500px;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 0%;
    
}
#header div i{
    display: flex;
    align-items: center;

    color: white;
}
#home div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-input {

     border: none;
    height: 35px;
    font-size: 14px;
    outline: none;
    width: 250px;
    border: red solid 1px;
    box-shadow: #007BFF;
    display: flex;
    align-items: center;
  
 }
    
.search-button {
        background-color: #f41a1a;
        color: rgb(244, 28, 28);
        border: none;
        padding: 9px 9px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        display: flex;
        align-items: center;
    }


.search-button{
        border-radius: 30%;

    }
.search-button:hover {
       background-color: #070606;
    }
.container {
    max-width: 600px; 
    margin: auto;
    background: #fff; 
    padding: 30px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(233, 27, 27, 0.862); 
    font-size: 25px;
    height: 490px;
    display: flex;
    align-items: center;
    }
.container:hover{
    color: rgb(242, 77, 143);
 }
    
.main-title {
     font-size: 2.5em;
     font-weight: bold; 
     margin-bottom: 10px; 
}
        

.container2{
        width: 100%;
        color: red;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    
}
    
h1 {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
.highlight {
    
       background-color: #b2ff59; /* Highlight color */
    }
    
.cards {
        display: flex;
        justify-content: space-around;
        gap: 40px;
        align-items: center;
        flex-wrap: wrap;
    }
    
.card {
        background-color: #040404;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 320px;
        transition: transform 0.3s;


       
    }
    
.card:hover {
        transform: translateY(-6px);
        color: #b2ff59;
        scale: 1.1;

       
    }
    
.icon {
        font-size: 45px;
        margin-bottom: 10px;
}
#home2{
    margin-top: 60px;
    width: 100%;
    height: 400px;
}
.login{

    background-color: #ec1414;
        color: rgb(245, 40, 40);
        border: none;
        padding: 9px 9px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10%;
        height: 37px;
        
}
.login :hover{
    color: rgb(251, 247, 247);
}
.login a{
    text-decoration: none;
    color: black;
    
}

.signup{

    background-color: #ec1414;
        color: rgb(245, 40, 40);
        border: none;
        padding: 9px 9px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10%;
        height: 35px;
        
}
.signup :hover{
    color: rgb(251, 247, 247);
}
.signup a{
    text-decoration: none;
    color: black;
    
}

#check{
    display: none;
}

#bar{
    display: none;
}

@media(max-width:430px){

    #header #links{
        display: none;
    }

    #header .search-container{
        display: none;
    }
    #header .login{
        display: none;
    }
    #header .signup{
        display: none;
    }
    #header{
          justify-content: space-between;
    }
    #bar{
        display: block;
        position: absolute;
        top: 3%;
        right: 10%;
        z-index: 999;
        color: rgb(224, 8, 8);
        font-size: 20px;
    }

    #header ul{
        display: block;
    }
    #check:checked~#header #links{
        display: flex;
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0%;
        justify-content: center;
        align-items: center;
        background-color: #007BFF;
        line-height: 50px;

    }
    #check:checked~main #home{
        margin-top: 35%;
    }
  
}

